@{
    ViewBag.Title = "Home Page";
}

<div style="width: auto; background-color: #728ea7; margin-top: 20px">

    <strong>@Html.Encode(User.Identity.Name)</strong>
    <!--   @if (Request.IsAuthenticated)
    { 
        
       
    }
    else {
        
        <span> Fail </span>
      
    }
     -->
</div> 